*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; 
}

body{
    background: #F6F6F6;
}

.layer1{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F6F6F6 100%), url('/img/5.jpg');
    background-size: cover;
    width: 100%;
    background-position: center;
    position: relative;
    min-height: 100vh;
}

nav{
    display: flex;
    padding: 5px 30px;
    justify-content: space-between;
    align-items: center;
}

nav #bx{
    display: none;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #01A665;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.sub-category{
    display: none;
}

.nav-links ul li:hover .sub-category{
    display: block;
    position: absolute;
    background: #F6F6F6;
    margin-top: 8px;
    margin-left: -15px;
    border-radius: 20px;
}

.nav-links ul li:hover .sub-category ul{
    display: block;
    margin: 10px;
}

.nav-links ul li:hover .sub-category ul li{
    width: 100px;
    height: 5px;
    padding: 10px;
    background: transparent;
    text-align: center;
}

.search-txt{
    background: #F6F6F6;
    border-radius: 20px;
    padding: 5px;
}

.search-btn{
    transition: 0.5s;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.search-btn:hover > .search-txt{
    width: 280px;
}

.search-txt{
    border: none;
    outline: none;
    padding: 6px;
    width: 280px;
    height: 30px;
    font-size: 18px;
}

.search
{
    display: flex;
    position: relative;
}

.content1{
    width: 680px;
    top: 240px;
    left: 100px;
    position: absolute;
    text-align: left;
}

.content1 h1{
    font-size: 48px;
}

.content1 p{
    font-size: 24px;
}

.explore-btn{
    display: inline-block;
    background: #01A665;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    padding: 12px 34px;
    position: relative;
}

/* Search */
.hide
{
    display: none;
}

@media(max-width: 700px){
    .layer1{
        overflow: hidden;
    }

    .content1{
        width: 50%;
        top: 200px;
        position: absolute;
        text-align: center;
    }

    .content1 h1{
        font-size: 24px;
    }

    .content1 p{
        font-size: 14px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: #fff;
        height: 100vh;
        width: 100%;
        text-align: center;
        top: 0;
        right: -100%;
        z-index: 2;
        transition: 1s;
    }

    nav .bx{
        display: block;
        color: #000;
        cursor: pointer;
        text-align: center;
    }

    nav #bx{
        display: block;
        color: #000;
        cursor: pointer;
        text-align: right;
    }
    
    .nav-links ul{
        padding: 10px;
    }
}

/* section 2 */

.layer2{
    overflow: hidden;
}

.content2{
    left: 30px;
    position: relative;
    text-align: left;
    padding: 2% 6%;
}

.layer2 h1{
    font-size: 48px;
    width: 450px;
}

.arrow{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.arrow .bx:hover{
    transform: scale(1.5);
    transition: transform .5s ease;
    color: #008DC3;
}

.layer2 .row{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
}

.layer2 .img{
    flex-basis: 31%;
    padding: 20px 12px;
    box-sizing: border-box;
}

.layer2 .img img{
    width: 400px;
    height: 600px;
    border-radius: 40px;
}

.layer2 .img img:hover{
    transform: scale(1.1);
    transition: transform .5s ease;
    cursor: pointer;
}

/* Section 3 */

.layer3{
    overflow: hidden;
}

.content3{
    position: relative;
    text-align: left;
    padding: 2% 6%;
}

.content3 h1{
    font-size: 48px;
    width: 400px;
}

.content3 p{
    width: 455px;
}

.rectangle1{
    position: absolute;
    margin-top: 100px;
    margin-left: 120px;
    width: 1150px;
    height: 650px;
    background: rgba(1, 166, 101, 0.3);
}

.rectangle2{
    position: relative;
    margin-top: 300px;
    margin-left: 30px;
    width: 1150px;
    height: 650px;
    background-color: #fff;
}

.rectangle2 .main{
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.rectangle2 .bx{
    margin-top: 100px;
}

.main img{
    width: 484px;
    height: 434px;
}

.main p{
    width: 466px;
    font-size: 18px;
}

/* Section 4 */

.layer4{
    overflow: hidden;
}

.content4{
    display: flex;
    justify-content: space-between;
}

.content4 h1{
    font-size: 48px;
}

.content4 p{
    width: 455px;
}

.rectangle3 .main{
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.content4{
    position: relative;
    text-align: left;
    padding: 2% 6%;
}

.rectangle3{
    position: absolute;
    margin-top: 100px;
    margin-left: -80px;
    width: 1150px;
    height: 650px;
    background: rgba(0, 141, 195, 0.3);
}

.rectangle4{
    position: relative;
    margin-top: 300px;
    margin-left: 30px;
    width: 1150px;
    height: 650px;
    background-color: #fff;
}

.rectangle4 .img-gallery{
    width: 84%;
    margin: 100px auto 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 30px;
}

.img .bx{
    position: absolute;
    padding: 5px;
}

.img .bx:hover{
    cursor: pointer;
    color: #fff;
}

.img-gallery img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

/* Sectione 5 */

.layer5{
    overflow: hidden;
}

.layer5 .row{
    display: flex;
    justify-content: space-between;
}

.layer5 .img{
    flex-basis: 31%;
    padding: 20px 30px;
    box-sizing: border-box;
}

.layer5 .img img{
    width: 390px;
    height: 300px;
    border-radius: 40px;
}

.layer5 .img img:hover{
    transform: scale(1.1);
    transition: transform .5s ease;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #000;
}